{% extends "base.html" %}
{% block content%}
    <div class="row">
    <div class = "col-sm-6-sm-offset-3">
        <h1>About This website</h1>
        <p>This is a website dedicated to sending out the best content in regards to well researched and documented apis
            out there. It will focus primarily on Finance and the Economic based data but will have mentions on other
            social media apis(reddit, imgur and the like). In addition to the api link, the author of the website will
            send an attachment on how to use them via python(and javascript in the coming future).        </p>
        <p> information is everywhere and knowing as much as you can will empower you to use different avenues in order
            to meet those deadlines. I hope you enjoy the ride.</p>
        <br>
        <p> cheers.</p>
    </div>

    </div>

{% endblock %}